body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #1a144ae0;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    color:white;

}

/* container to the whole page */
.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
}

header {
    grid-column: auto / span 1;
   /* padding: 3%; */
    padding: 1%;
    
}
.shopping-cart header{
    display: inline-flex;

}
main {
    grid-column: auto / span 1;
    padding: 3%;
    display: grid;
/*    grid-template-columns: repeat(3, 1fr); */

}

#staff main {
    grid-column: auto / span 1;
    display: block;


  
}

/*
Main contents of the page
*/
article {
    grid-column: auto / span 1;
    padding: 2% 20%;
    color:white;
    border-block-end: 1px solid white;

}

img {
    width: 100%;
}
p{
    margin: 1%;
}
#shopping-cart{
    padding:3% 10% 3% 30%;
}
header h2{
padding: 0 10% 0 30%;
margin: 0;
}
#shopping-cart > article {
    grid-column: auto / span 3;
    display: flex;
}
#shopping-cart > article > * {
    flex-direction: row;
    align-items: flex-start;
}
#shopping-cart .item-name{
    width: 30%;
}
#shopping-cart .item-price{
    width: 20%;
}
#shopping-cart aside {
    width:5%;
}
#shopping-cart p:last-child{
    padding: 0 10%;
}
.badge
{
    float: right;
    padding: .75% 3%;
}
.badge:after{
    content:attr(value);
    font-size:12px;
    background: red;
    border-radius:50%;
    padding:3px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9; 
    }
  

    article h1 {
        margin: 0;
    }

    .price {
        float: right;
        color:#34bdb7;
    }
    article .publisher{
        font-size: 1rem;
    }

 
    button {
        background: #34bdb7;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
    a{
        text-decoration: none;
        color: blanchedalmond;
    }
    header a {
       
    color: white;
    font-size: 1.7rem;
    padding: 1% 5%;
    }
    
     a:hover{
        color:#ca4646 ;
    }

    .menu{
       padding: 0 20% 0;
    }


 
    .event-date{
        float:left;
        border: 4px solid white ;
        border-radius: 10px;
        padding: 7%;
    }
     
    .event-content{
        float:right;
        width: 72%;

    }

    .event-details{
        padding: 0 35%;
    }

    .event-details > .event-content > *{
        padding: 1%;
    }

    .ticket{
        background-color: beige;
        color: black;
    }
.ticket-container{
    padding: 3% 35%;
}
.ticket-content{
    padding: 1%;
   
}
.ticket-content > * {
    padding: 3% 0; 
    border-bottom: 1px dotted black;
    width: 100%;
}
.ticket-content .date > span{
    border-right: 1px dotted black;
    padding: 1% 5%;
}
h1{
    margin:0;
}

#staffLoginForm{
    padding: 0 30%;

}
input{
    padding: 3% 6%;

}
.button{
    background-color: #F39440;
    padding: 3% 6%;

    
}
#verifyBiljett{
    padding: 0 30%;

}







    @media screen and (max-width: 800px){
        header {
            font-size: 1rem;
        }
      article{
        grid-column: auto / span 3;
        font-size: 1rem;
      }
      article button{
        font-size: .8rem;
 
      }
      .event-date, .event-content{
          float: none;
      }
      .event-details{
       padding: 0 10%;
      }
    }


    